<%= form_for(room, :html => { :multipart => true }) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(room.errors.count, "erros") %> encontrados durante o cadastro da sala:</h4>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li> <span class="glyphicon glyphicon-remove"></span> <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label "nome *" %><br>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Nome do Espaço/Sala/Escritório' %>
  </div>

  <div class="form-group">
    <%= f.label "descrição do espaço *" %><br>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Descreva o espaço que você vai divulgar. Cite pontos positivos, descreva o espaço, fale sobre o ambiente, etc.' %>
  </div>

  <div class="form-group">
    <div class="row">      
      <div class="col-md-3 col-md-offset-9">
        <%= button_tag(type: 'submit', class: "btn btn-primary btn-block") do %>
          Próximo <span class="glyphicon glyphicon-chevron-right"></span> 
        <% end %>
      </div>
    </div>
  </div>

<% end %>
