<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @room.cep %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>N:</strong>
  <%= @room.n %>
</p>

<p>
  <strong>Ngb:</strong>
  <%= @room.ngb %>
</p>

<p>
  <strong>City:</strong>
  <%= @room.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @room.country %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @room.telephone %>
</p>

<p>
  <strong>Celphone:</strong>
  <%= @room.celphone %>
</p>

<!-- <p>
  <strong>Picture:</strong>
</p>
 -->
<p>
  <strong>Email:</strong>
  <%= @room.email %>
</p>

<p>
  <strong>Facebook profile:</strong>
  <%= @room.facebook_profile %>
</p>

<p>
  <strong>Instagram profile:</strong>
  <%= @room.instagram_profile %>
</p>

<p>
  <strong>Open at:</strong>
  <%= @room.open_at %>
</p>

<p>
  <strong>Close at:</strong>
  <%= @room.close_at %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |

<h4>Galeria</h4>
<hr>
<% if @room.photos.any? %>
  <% @room.photos.order('created_at').each do |photo| %>
    <%= image_tag(photo.url) %>
  <% end %>
<% else %>
  <div class="box_info">

  </div>
<% end %>

<%= link_to 'Adicionar Imagem', new_room_photo_path(@room), class: 'btn btn-default' %>
