<%= form_for([photo.room, photo], :multipart => 'true') do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :picture_datafile, id: 'picture_datafile' %>

   <div class="row form-set">
      <div class="col-md-12">
 
          <div class="imageBox" id="avatarBox">
              <div id="cropMsg"><i class="fa fa-crop" aria-hidden="true"></i> Imagem recortada!</div>
              <div class="form-group">
                <%= f.label :selecione_uma_imagem %>
                <%= f.file_field :picture, class: 'input-img' %>
              </div>
              
              <div class="thumbBox"></div>
              <div class="spinner" style="display: none">
               Loading...
              </div>
          </div>
 
          <div class="action">
              <input type="button" id="btnZoomIn" class="btnZoomIn avatar btn btn-default" value="+">
              <input type="button" id="btnZoomOut" class="btnZoomOut avatar btn btn-default" value="-">
              <button type="button" id="btnCrop" class="btnCrop avatar btn btn-default"><i class="fa fa-crop" aria-hidden="true"></i> </button>
          </div>
      </div>
  </div>
  <br>

  <div class="form-group">
    <%= f.label "Título *" %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'Título da imagem', required: true %>
  </div>

  <div class="form-group">
    <%= f.label "Legenda" %>
    <%= f.text_area :description, class: 'form-control', placeholder: 'Inclua uma legenda ou uma breve descrição da imagem' %>
  </div>


   <div class="form-group">
    <div class="row">      
      <div class="col-md-3 col-md-offset-9">
        <%= f.submit 'Publicar imagem', class: 'btn btn-primary btn-block' %>
      </div>
    </div>
  </div>

<% end %>
