<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @photo.room_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<%= link_to 'Edit', edit_room_photo_path([@photo.room, @photo]) %> |
<%= link_to 'Back', room_photos_path(@photo.room) %>
