<div class="row">
	<div class="col-md-8 col-md-offset-2">


<h3>Foto Principal</h3>
<hr>
<%= form_for @room, url: wizard_path, method: :put do |f| %>
  
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@room.errors.count, "erros") %> encontrados durante o cadastro da sala:</h4>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><span class="glyphicon glyphicon-remove"></span> <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :picture_datafile, id: 'picture_datafile' %>
  <%= f.file_field :cover, class: 'input-img' %>

  <div class="row form-set">

      <div class="col-md-12">
        <div class="imageBox" id="avatarBox">
          <div class="coverBox"></div>
        <div class="spinner" style="display: none">
          Loading...
        </div>
      </div>
 
      <div class="action">
        <input type="button" id="btnZoomIn" class="btnZoomIn avatar btn btn-default" value="+">
        <input type="button" id="btnZoomOut" class="btnZoomOut avatar btn btn-default" value="-">
        <input type="button" id="btnCrop" class="btnCrop avatar btn btn-default" value="Crop">
      </div>
    </div>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-md-9">
       	<%= link_to 'Voltar', previous_wizard_path %>
      </div>		
      <div class="col-md-3">
        <%= f.submit "Salvar Sala", class: 'btn btn-primary btn-block'  %>
      </div>
    </div>
  </div>

<% end %>

</div>
</div>