<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="progressbar">
        <li class="active" id="new"></li>
        <li class="active" id="location"></li>
        <li id="timetable"></li>
        <li id="contact"></li>
        <li id="finish"></li>
    </ul>
  </div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">


<h3>Horário de Funcionamento</h3>
<hr>
<%= form_for @room, url: wizard_path, method: :put do |f| %>
  
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@room.errors.count, "erros") %> encontrados durante o cadastro da sala:</h4>

      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><span class="glyphicon glyphicon-remove"></span> <%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  	<div class="col-md-6">
 	  <div class="form-group span-group">
	  	<%= f.label :horário_de_abertura %> <small><em>não preencha em caso de 24h </em></small>
       	<span class="glyphicon glyphicon-time span-input"></span> <%= f.text_field :open_at, class: 'form-control timepicker' %>
	  </div>
	</div>	
  	<div class="col-md-6">
  	  <div class="form-group span-group">
    	<%= f.label :horário_de_fechamento %>
    	<span class="glyphicon glyphicon-time span-input"></span> <%= f.text_field :close_at, class: 'form-control timepicker' %>
  	  </div>
  	</div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
       	<%= link_to 'Voltar', previous_wizard_path %>
      </div>		
      <div class="col-md-1"><p>
        <%= link_to 'Pular', next_wizard_path %></p>
      </div>
      <div class="col-md-3">
        <%= button_tag(type: 'submit', class: "btn btn-primary btn-block") do %>
          Próximo <span class="glyphicon glyphicon-chevron-right"></span> 
        <% end %>
      </div>
    </div>
  </div>

<% end %>

</div>
</div>