<%= render 'layouts/header' %>
  <body>
    <%= render 'layouts/navbar' %>
    <section id="cover" style="background: url(<%= @room.cover_url %>);background-size: cover;background-position: 0px;">
      <div class="container info">
        <%= link_to 'alterar imagem de capa', '/room_steps/cover', :room_id => @room.id %>
        <div class="row">
        <h2><%= @room.name.titleize %></h2>
        <%= link_to edit_room_path(@room), class: 'btn btn-default' do %> <span class="glyphicon glyphicon-cog"></span> Editar Informações <% end %> 
      </div>
    </section>
  
    <div class="container-fluid">
      <%= yield %>
    </div>

    <section id="gallery">
      <div class="container">
        <h4>Galeria</h4>
        <p id="notice_galery"></p>
        <% if @room.photos.any? %> 
          <div class="row ">
            <% @room.photos.order('created_at').each do |photo| %>
              <div id="img_<%= photo.id %>" class="col-md-4 img_gallery">
                <a href="<%= photo.picture_url %>" rel="lightbox" data-lightbox="room-gallery"><%= image_tag(photo.picture.thumbnail) %></a>
                <div class="actions">
                  <%= link_to edit_room_photo_path(@room), class: 'btn btn-default btn-block' do %><span class="glyphicon glyphicon-cog"></span><% end %>
                  <%= link_to [photo.room, photo], method: :delete, remote: true, data: {confirm: 'Deseja realmente excluir a imagem '}, class: 'btn btn-default', atl: 'Excluir Imagem' do %> <span class="glyphicon glyphicon-trash"></span><% end %>
                </div>
              </div>
            <% end %>
            <%= link_to new_room_photo_path(@room) do %>
              <div class="col-md-4 box_info box_add">
                <p><br></p>
                <br>
                <p style="text-align: center; font-size: 5em;"><i class="fa fa-upload" aria-hidden="true"></i></p>
                <br>
                <p class="text-center">Adicionar imagem á galeria</p>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 box_info">
              <p>Este Espaço Cowork não possui nenhuma foto ainda.</p>
              <br>
              <p style="text-align: center; font-size: 5em;"><span class="glyphicon glyphicon-picture"></span></p>
              <br>
              <p><%= link_to 'Adicionar Imagem', new_room_photo_path(@room), class: 'btn btn-default btn-block' %></p>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </body>  
</html>
