<%= render 'layouts/header' %>
  <body>
    <%= render 'layouts/navbar' %>
    <section id="cover" style="background: url(<%= @room.cover_url %>);background-size: cover;background-position: 0px;">
      <div class="container info">
        <%= link_to 'alterar imagem de capa', '/room_steps/cover', :room_id => @room.id %>
        <div class="row">
        <h2><%= @room.name.titleize %></h2>
        <%= link_to edit_room_path(@room), class: 'btn btn-default' do %> <span class="glyphicon glyphicon-cog"></span> Editar Informações <% end %> 
      </div>
    </section>
    <section id="about">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <section id="gallery">
      <div class="container">
        <h3>Galeria</h3>
        <p id="notice_galery"></p>
        <% if @room.photos.any? %> 
          <div class="row ">
            <% @room.photos.order('created_at').each do |photo| %>
              <div id="img_<%= photo.id %>" class="col-md-4 img_gallery">
                <a data-fancybox="gallery" class="fancyBox" href="<%= photo.picture_url %>"><%= image_tag(photo.picture.thumbnail) %><div class="zoom"><span class="glyphicon glyphicon-search"></span> </div></a>
                <div class="actions">
                  <%= link_to edit_room_photo_path([photo.room, photo]), class: 'btn btn-default btn-block' do %><span class="glyphicon glyphicon-cog"></span><% end %>
                  <%= link_to [photo.room, photo], method: :delete, remote: true, data: {confirm: 'Deseja realmente excluir a imagem '}, class: 'btn btn-default', atl: 'Excluir Imagem' do %> <span class="glyphicon glyphicon-trash"></span><% end %>
                </div>
              </div>
            <% end %>
            <%= link_to new_room_photo_path(@room) do %>
              <div class="col-md-4 box_add">
                <p><br></p>
                <br>
                <p style="text-align: center; font-size: 5em;"><i class="fa fa-upload" aria-hidden="true"></i></p>
                <br>
                <p class="text-center">Adicionar imagem á galeria</p>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= link_to new_room_photo_path(@room) do %>
            <div class="col-md-4 col-md-offset-4 box_add">
              <br>
              <br>
              <p style="text-align: center; font-size: 5em;"><i class="fa fa-upload" aria-hidden="true"></i></p>
              <br>
              <p class="text-center">Adicionar imagem á galeria</p>
            </div>
          <% end %>
        <% end %>
      </div>
    </section>
    <section id="location">
      <div class="container">
        <h3>Localização</h3>
        <p><span class="glyphicon glyphicon-map-marker"></span> <%= @room.full_address %></p>
        <div id="map"></div>
        <script>
          
          var roomLatLng = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
          
          function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
              center: roomLatLng,
              scrollwheel: true,
              zoom: 20
            });
          
            var marker = new google.maps.Marker({
              map: map,
              position: roomLatLng,
              title: 'Hello World!'
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpY1tdl05TkRdBxe5vIzwRcO5wpGsYBGo&callback=initMap" async defer></script>
      </div>
    </section>
    <%= render 'layouts/footer' %>
  </body>  
</html>
